<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="app.properties" />

    <bean name="customerRepository"
          class="com.mah.spring_fundamental_demo.xml_bean_configured.repository.customer.Impl.HibernateCustomerRepositoryImpl">
        <property name="dbUsername" value="${dbUsername}" />
    </bean>
    <bean name="departmentRepository"
          class="com.mah.spring_fundamental_demo.xml_bean_configured.repository.department.Impl.HibernateDepartmentRepositoryImpl" />

    <bean name="customerService"
          class="com.mah.spring_fundamental_demo.xml_bean_configured.service.customer.Impl.CustomerServiceImpl" autowire="byType">
<!--        <property name="customerRepository" ref="customerRepository" />-->
    </bean>
    <bean name="departmentService"
          class="com.mah.spring_fundamental_demo.xml_bean_configured.service.department.Impl.DepartmentService" autowire="constructor">
<!--        <constructor-arg index="0" ref="departmentRepository" />-->
    </bean>

</beans>